.contactDiv {
    justify-content: center;
}

.mailSendButton {
    height: 35px;
    width: 50%;
    float: right;
    background-color: #333;
    font-variant: all-small-caps;
    font-family: math;
}

:host ::ng-deep .p-button:enabled:hover {
    background-color: #100f0f !important;
}

.p-card-body {
    padding-bottom: 0px !important;
}

@media (max-width: 360px) {
    .mailSendButton {
        width: 100%;
    }
}

:host ::ng-deep .p-card {
    background: linear-gradient(271.4deg, #d8e0ea 0.53%, #f5f7fb 94.33%);
}