.mirzaImage {
    width:250px;
    border-end-start-radius: 10%;
    border-end-end-radius: 10%;
    border-start-start-radius: 10%;
    border-start-end-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */

}

.mirzaImage{
    --g: 4px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: #333; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  .mirzaImage:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }


@media only screen and (max-width: 576px) {
    .mirzaImageDiv {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .mirzaImage {
        width:100%;
    }
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2rem;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 2em;
  }

  .aboutMeText {
    text-align: center;
  }

  .ml2 {
    font-weight: 900;
    font-size: 1.5em;
    font-family: cursive;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .button {
    height: 35px;
    width: 25%;
    background-color: #333;
    font-variant: all-small-caps;
    font-family: math;
}
:host ::ng-deep .p-button:enabled:hover {
    background-color: #100f0f !important;
}

:host ::ng-deep .p-card {
    background: linear-gradient(271.4deg, #d8e0ea 0.53%, #f5f7fb 94.33%);
}

li.circle-checkmark {
    position: relative;
}

li.circle-checkmark::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 2px; 
    border: solid 8px #333;
    border-radius: 8px;
  }
  
  li.circle-checkmark::after {
    content: ""; 
    position: absolute; 
    left: 5px;
    top: 5px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .aboutMe_socialm_cont{
    width: 155px;
    height: 100%;
    margin: 0;
    margin-top: 13px;
    padding: 0;
    justify-content: center;
    display: grid;
}

.socialm_cont {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: none;
    position: relative;
}

.socialm_cont  img {
  width: 100%;
  height: 100%;
}

.socialm_cont {
  &:hover,
  &:focus {
    color: #4183c4;
    box-shadow: 0 0 24px 0 #4183c4
  }
  .socialm_cont  img {
    color: #4183c4;
  }
}



ul {
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

