.mirzaImage {
    width:250px;
    border-end-start-radius: 10%;
    border-end-end-radius: 10%;
    border-start-start-radius: 10%;
    border-start-end-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */

}


@media only screen and (max-width: 576px) {
    .mirzaImageDiv {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .mirzaImage {
        width:100%;
    }
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2rem;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml2 {
    font-weight: 900;
    font-size: 2em;
    font-family: cursive;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .button {
    height: 35px;
    width: 25%;
    background-color: #333;
    font-variant: all-small-caps;
    font-family: math;
}
:host ::ng-deep .p-button:enabled:hover {
    background-color: #100f0f !important;
}
/*
:host ::ng-deep .p-card {
    background: linear-gradient(271.4deg, #d8e0ea 0.53%, #f5f7fb 94.33%);
}
*/

