

<!--
        <div class="panel">
    <div class="panel-header">
        <h3>{{ panelTitle }}</h3>
    </div>
    <div class="panel-body">
        <p-grid>
            <div class="p-col-12 p-md:col-6">
                <p>Enthusiastic software engineer with experience participating
                    in the complete product
                    development lifecycle of successfully launched applications.
                    Adaptable in various team
                    environments. Able to manage priorities when under pressure.
                </p>
            </div>
            <div class="p-col-12 p-md:col-6">
                <p>Enthusiastic software engineer with experience participating
                    in the complete product
                    development lifecycle of successfully launched applications.
                    Adaptable in various team
                    environments. Able to manage priorities when under pressure.
                </p>
            </div>
        </p-grid>
    </div>
</div>
    -->

<div class="panel">

    <p-card header="About">
        <div class="aboutMeText">
            <p class="ml2">Hi, <br>
                My name is Mirza Mujkanovic.
                I am software engineer!</p>
        </div>
        <div class="grid">

            <div class="col-12 sm:col-6" style="align-self: center;">

                <li class="circle-checkmark" data-aos="fade-left">

                    Enthusiastic software engineer with
                    experience
                    participating
                    in the complete product
                    development lifecycle of successfully launched
                    applications.

                </li>
                <li class="circle-checkmark" data-aos="fade-right">
                    Adaptable in various team
                    environments.

                </li>
                <div style="margin-top: 20px;" data-aos="fade-up">
                    <button pButton class="button" (click)="showDialog()"
                        icon="pi pi-external-link"
                        label="Why me"></button>
                    <p-dialog header="Why me" [(visible)]="visible"
                        [style]="{width: '70vw'}">
                        <p>
                            Enthusiastic software engineer with
                            experience
                            participating
                            in the complete product
                            development lifecycle of successfully launched
                            applications.<br>
                            Adaptable in various team
                            environments.<br>
                            Able to manage priorities when under pressure.<br>
                            My name is Mirza Mujkanovic. I received my diploma
                            in electrical engineering, computer and informatics
                            science from University of Sarajevo.
                            <br>
                            In my current workplace at Olivebh, where I have had
                            the privilege of working for two years now, I am a
                            full-stack developer. I have played an important
                            role on various projects, such as Court case
                            management system, a Scandinavian airline system and
                            a factoring system. In addition, I have several of
                            my own projects, some of which are still ongoing.
                            You can find them all on my github account:
                            https://github.com/mmujkanovi1
                            <br>
                            I like to spend my free time watching movies,
                            exercising or going out with friends. Most of my
                            free time, however, is spent on my personal projects
                            on github and with my family.

                        </p>
                    </p-dialog>
                </div>

            </div>
            <div class="col-12 sm:col-6 mirzaImageDiv">
                <!--
                <p-image 
                    src="assets/images/mirza2Nova.jpg"
                    alt="Image"
                    width="250">
                </p-image>
                -->
                <img class="mirzaImage"
                    src="assets/images/mirzaIcon.png"
                    alt="Image" />

            </div>

        </div>
        <div style="width:100vw; background-color: #333;">
            vfdvfvdfvdvdfvd
        </div>

    </p-card>
</div>
