

<!--
        <div class="panel">
    <div class="panel-header">
        <h3>{{ panelTitle }}</h3>
    </div>
    <div class="panel-body">
        <p-grid>
            <div class="p-col-12 p-md:col-6">
                <p>Enthusiastic software engineer with experience participating
                    in the complete product
                    development lifecycle of successfully launched applications.
                    Adaptable in various team
                    environments. Able to manage priorities when under pressure.
                </p>
            </div>
            <div class="p-col-12 p-md:col-6">
                <p>Enthusiastic software engineer with experience participating
                    in the complete product
                    development lifecycle of successfully launched applications.
                    Adaptable in various team
                    environments. Able to manage priorities when under pressure.
                </p>
            </div>
        </p-grid>
    </div>
</div>
    -->
<!--
<div class="panel">
-->
<p-card header="About" class="panelClass">
    <div class="aboutMeText">
        <p class="ml2">Hi, <br>
            My name is Mirza Mujkanovic.
            I am software
        </p>
    </div>
    <p style="margin-bottom: 120px;">
        <span class="block" [@wordUpdated]="word">
            <span class="span" *ngFor="let word of [ word ]">
                <h1>[{{ word }}]</h1>
            </span>
        </span>
    </p>

    <div class="grid aboutMeList">

        <div class="col-12 sm:col-7 md:col-7" style="align-self: center;"
            data-aos="fade-left">

            <li class="circle-checkmark">

                Enthusiastic software engineer with
                experience
                participating
                in the complete product
                development lifecycle of successfully launched
                applications.

            </li>
            <li class="circle-checkmark">
                Adaptable in various team
                environments.

            </li>
            <li class="circle-checkmark">
                Able to manage priorities when under pressure.
            </li>
            <li class="circle-checkmark">
                Enjoy learning something new every day, working in a team and I
                easily adapt to change.
            </li>
            <li class="circle-checkmark">
                Communicative, ambitious and curious person
            </li>

            <div class="container">
                <a href="assets/cv/mirzaCV.pdf" download
                    class="downloadButton type--B">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">DOWNLOAD CV</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>

            </div>
            <!--
            <div style="margin-top: 20px;" data-aos="fade-up">
                <button pButton class="button" (click)="showDialog()"
                    icon="pi pi-external-link"
                    label="Why me"></button>
                <p-dialog header="Why me" [(visible)]="visible"
                    [style]="{width: '70vw'}">
                    <p>
                        Enthusiastic software engineer with
                        experience
                        participating
                        in the complete product
                        development lifecycle of successfully launched
                        applications.<br>
                        Adaptable in various team
                        environments.<br>
                        Able to manage priorities when under pressure.<br>
                        My name is Mirza Mujkanovic. I received my diploma
                        in electrical engineering, computer and informatics
                        science from University of Sarajevo.
                        <br>
                        In my current workplace at Olivebh, where I have had
                        the privilege of working for two years now, I am a
                        full-stack developer. I have played an important
                        role on various projects, such as Court case
                        management system, a Scandinavian airline system and
                        a factoring system. In addition, I have several of
                        my own projects, some of which are still ongoing.
                        You can find them all on my github account:
                        https://github.com/mmujkanovi1
                        <br>
                        I like to spend my free time watching movies,
                        exercising or going out with friends. Most of my
                        free time, however, is spent on my personal projects
                        on github and with my family.

                    </p>
                </p-dialog>
            </div>
            -->

        </div>
        <div class="col-12 sm:col-5 md:col-4 mirzaImageDiv">
            <!--
                <p-image 
                    src="assets/images/mirza2Nova.jpg"
                    alt="Image"
                    width="250">
                </p-image>
                -->
            <img class="mirzaImage"
                src="assets/images/mirzaIcon.png"
                alt="Image" />

            <ul style="place-content: center;">

                <li><a href="https://www.instagram.com/mirza_mujkanovici92/"
                        target="_blank"><i class="fab fa-instagram"
                            aria-hidden="true">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </i></a></li>
                <li><a
                        href="https://www.linkedin.com/in/mirza-mujkanovic-82962a1b4/"
                        target="_blank"><i class="fab fa-linkedin"
                            aria-hidden="true">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </i></a></li>
                <li><a href="https://github.com/mmujkanovi1" target="_blank"><i
                            class="fab fa-google-plus-g"
                            aria-hidden="true">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </i></a></li>
            </ul>

        </div>

        <div class="col-12 sm:col-2">
            <!--
                <div class="aboutMe_socialm_cont">
                    <a href="https://github.com/mmujkanovi1" title="Github"
                        target="_blank" class="socialm_cont">
                        <img
                            src="../../../assets/icons/github.svg"
                            alt="Github" /></a>
                    <a
                        href="https://www.linkedin.com/in/mirza-mujkanovic-82962a1b4/"
                        title="LinkedIn" target="_blank" class="socialm_cont">
                        <img
                            src="../../../assets/icons/linkedIn.svg"
                            alt="linkedIn" /></a>
                    <a href="https://www.instagram.com/mirza_mujkanovici92/"
                        title="Instagram"
                        target="_blank" class="socialm_cont">
                        <img
                            src="../../../assets/icons/instagram.svg"
                            alt="Instagram" /></a>
                </div>
                -->

        </div>
    </div>
    <!--
    <p style="margin-bottom: 50px; margin-top: 50px;">
       <span class="block" [@wordUpdated]="word">
            <span class="span" *ngFor="let word of [ word ]">
                <h1>[{{ word }}]</h1>
            </span>
        </span>
    </p>
    -->
    <p style="margin-bottom: 120px;">
        <span class="block" [@wordUpdated]="word">
            <span class="span" *ngFor="let word of [ word ]">
                <h1>[{{ word }}]</h1>
            </span>
        </span>
    </p>
</p-card>
<!--
</div>
-->

<p-card class="highlitesSkils">
    <div>
        <h1 style="text-align: center;font-variant-caps: petite-caps;">Highlited
            skils</h1>
    </div>

    <div class="grid highlitesSkilsDiv" data-aos="fade-up">
        <div class="col-12 sm:col-12 md:col-7">
            <div class="grid">
                <div class="col-6 sm:col-4 skillsDiv">
                    <div class="grid">
                        <div class="col-12">
                            <fa-icon [icon]="faJava"></fa-icon>
                            <h4> JAVA </h4>
                        </div>
                        <div class="col-12">
                            <fa-icon [icon]="faDatabase"></fa-icon>
                            <h4> DATABASE </h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 sm:col-4 skillsDiv">
                    <div class="grid">
                        <div class="col-12">
                            <fa-icon [icon]="faAngular"></fa-icon>
                            <h4> ANGULAR </h4>
                        </div>
                        <div class="col-12">
                            <fa-icon [icon]="faHtml5"></fa-icon>
                            <h4> HTML </h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-4 skillsDiv lastSkillDiv">
                    <div class="grid">
                        <div class="col-6 sm:col-12">
                            <fa-icon [icon]="faDocker"></fa-icon>
                            <h4> DOCKER </h4>
                        </div>
                        <div class="col-6 sm:col-12">
                            <fa-icon [icon]="faCss3"></fa-icon>
                            <h4> CSS </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-5 findMoreDiv">
            <h3 class="skillsSubTitle">I got used to work on both (backend and
                frontend)</h3>
            <h4>Click "Find more" to get full list of skills! </h4>
            <button [routerLink]="['/skills']" class="moreButton"><span>Find
                    more!</span></button>
        </div>
        <!--
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faJava"></fa-icon>
            <h4> JAVA </h4>
        </div>
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faAngular"></fa-icon>
            <h4> ANGULAR </h4>
        </div>
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faDocker"></fa-icon>
            <h4> DOCKER </h4>
        </div>
        -->
    </div>
    <!--
    <div class="grid highlitesSkilsDiv" data-aos="fade-up">
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faDatabase"></fa-icon>
            <h4> DATABASE </h4>
        </div>
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faHtml5"></fa-icon>
            <h4> HTML </h4>
        </div>
        <div class="col-6 sm:col-3 skillsDiv">
            <fa-icon [icon]="faCss3"></fa-icon>
            <h4> CSS </h4>
            <button class="moreButton"><span>Find more!</span></button>
        </div>

    </div>
-->

</p-card>

<p-card header>
    <div style="text-align: center;">
        <h2 style="margin-top: 0px;">Qualifications: 2021 - Bachelor’s degree in
            computing and Information Science</h2>
            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        <h2>Current possition: OliveBH FULL-STACK</h2>
        <h2>Company link: https://olivebh.com/</h2>

        <div class="textBox">

            <h3 style="text-align: center;"> Hii there, </h3>

            <h4>My name is Mirza Mujkanovic. I received my diploma in electrical
                engineering, computer and informatics science from University of
                Sarajevo.</h4>
            <h4>In my current workplace at Olivebh, where I have had the
                privilege of working for two years now, I am a full-stack
                developer. I have played an important role on various projects,
                such as Court case management system, a Scandinavian airline
                system and a factoring system. In addition, I have several of my
                own projects, some of which are still ongoing. You can find them
                all on my github account!
            </h4>
            <h4>
                I like to spend my free time watching movies, exercising or
                going out with friends. Most of my free time, however, is spent
                on my personal projects on github and with my family.
            </h4>
            <h3 style="margin-bottom: 0px;">
                Kind Regards,
            </h3>
            <h3 style="margin-top: 0px;">
                Mirza Mujkanovic
            </h3>
        </div>

    
    </div>

</p-card>

<p-card header class="highlitesSkils" style="text-align: center;">
    <a href="#"><i class="fab fa-facebook"
            aria-hidden="true">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </i></a>
    <a href="#"><i class="fab fa-instagram"
            aria-hidden="true">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </i></a>
    <a href="#"><i class="fab fa-linkedin"
            aria-hidden="true">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </i></a>
    <a href="#"><i class="fab fa-github"
            aria-hidden="true">
            <fa-icon [icon]="faGithub"></fa-icon>
        </i></a>
    <p-divider style="text-align: -webkit-center;"></p-divider>

</p-card>
