<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>FACTORING</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    Factoring is the legal business of buying and selling an
                    existing non-due or future short-term
                    monetary claim arising from a contract for the sale of goods
                    or the provision of services in
                    the country and abroad, which is transferred to the Bank by
                    contract and which undertakes
                    to take over the claim from the debtor, to collect it, on
                    its own behalf and for its own account,
                    and to perform the following services in order to perform
                    the factoring function:
                </p>
                <li class="checkmark">Finances the seller based on the transfer
                    of receivables,</li>
                <li class="checkmark">Records, manages and supervises
                    receivables,</li>
                <li class="checkmark">Assesses the risk as well as insurance of
                    receivables
                    collection.</li>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Full stack
                    development</div>
            </div>
            Tasks:
            <div class="tasks">
                <div class="text-gray-800 font-bold text-md">Tasks:</div>
                <li>Developing and enhancing Docker configurations for both
                    backend and frontend.</li>
                <li>Analyzing and converting Oracle procedures into Java code</li>
                <li>Implementing new REST APIs to meet customer requirements.</li>
                <li>Crafting queries that adhere to ANSI standards.</li>
                <li>Executing Oracle to PostgreSQL migration.</li>
            </div>

            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical Skills
                    and
                    Tools:</div>
                <li>Angular</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>Spring Boot</li>
                <li>REST</li>
                <li>Oracle 11g</li>
                Oracle 11g
                Angular, HTML, CSS, Java, Spring Boot,
                REST, Oracle 11g
            </div>
        </div>
    </div>

</p-card>
