<p>portfolio works!</p>
<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>Portfolio</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    This is my personal portfolio site crafted using Angular and
                    leverages the
                    power of PrimeNG for a seamless and interactive user
                    experience. I was using AOS animations as well to add a
                    touch
                    of dynamism and enhance the user interface. The application
                    is designed to be responsive, ensuring optimal performance
                    across various screen widths.
                </div>
                <div class="role">
                    <div class="text-gray-800 font-bold text-md">Role: Frontend
                        development
                    </div>
                </div>
                <div class="technicalSkills">
                    <div class="text-gray-800 font-bold text-md">Technical
                        Skills
                        and
                        Tools:</div>
                    <li>Angular</li>
                    <li>Typescript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Primeng</li>
                    <li>Git</li>
                </div>
            </div>
        </div>
    </p-card>
