<footer class="footer">
    <div class="footer-content">
        <!-- <p>&copy; Mirza Mujkanovic, Copyright 2023 All rights reserved.</p> -->
        <div class="footer_socialm_cont">
            <a href="https://github.com/mmujkanovi1" title="Github"
                target="_blank" class="socialm_cont">
                <img style="width: 100%; height: 100%;"
                    src="../../../assets/icons/github.svg"
                    alt="Github" /></a>
            <a href="https://www.linkedin.com/in/mirza-mujkanovic-82962a1b4/"
                title="LinkedIn" target="_blank" class="socialm_cont">
                <img style="width: 100%; height: 100%;"
                    src="../../../assets/icons/linkedIn.svg"
                    alt="linkedIn" /></a>
            <a href="https://www.instagram.com/mirza_mujkanovici92/"
                title="Instagram"
                target="_blank" class="socialm_cont">
                <img style="width: 100%; height: 100%;"
                    src="../../../assets/icons/instagram.svg"
                    alt="Instagram" /></a>
        </div>
    </div>

</footer>