<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>Synonym</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <div class="text-gray-800 font-bold text-md"> Synonym.java is a
                    system that works as a synonym search tool with the
                    following requirements:
                </div>
                <li>The user is able to add new words with synonyms.,</li>
                <li>he user is able to ask for synonyms for a word, and lookup
                    works in both directions. For example, if "wash" is a
                    synonym to "clean", then I should be able to look up both
                    words and get the respective synonym.
                    Also, the transitive rule has been implemented, i.e. if "B"
                    is a synonym to "A" and "C" a synonym to "B", then "C"
                    should automatically, by transitive rule, also be the
                    synonym for "A"</li>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Fullstack
                    development
                </div>
            </div>
            <div class="tasks">
                The app contains two endpoints:
                <li> Add a new synonym with two parameters (the word and its
                    synonym)
                </li>
                <li>Search synonyms for the requested word with one parameter
                    (the word for which synonyms we want to be shown).
                </li>
                <p>You can also run it in dev, prod and test environment. When
                    the application is started in test environment, integration
                    tests are run. With JaCoCo we secured the application fails
                    when code coverage is less than 85% at the package level.
                    "CheckStyle.xml" has been added to the pom file to fail the
                    maven build if there are any violations or warnings in order
                    to ensure clean and quality code.
                </p>
            </div>
            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical
                    Skills
                    and
                    Tools:</div>
                <li>Java</li>
                <li>Spring boot</li>
                <li>Angular</li>
                <li>Typescript</li>
                <li>HTML</li>
                <li>CSS</li>
            </div>
        </div>
    </div>

</p-card>
