
<header>
    <i class="pi pi-chevron-right"></i>
    <p-button class="pButtonMain" (click)="sidebarVisible = true" icon="pi pi-chevron-right"></p-button>
    <button class="toggle-button menuButton" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="#">Experiance</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skils</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

</header>
<div class="menu" [class.open]="isMenuOpen">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="#">Experiance</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Skils</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<p-sidebar style="z-index: 1;" [(visible)]="sidebarVisible">
    <h3>Sidebar</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>


</p-sidebar>

