

header {

    font: small-caption;
    font-variant: all-small-caps;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4rem;
    transition: width var(--transition-duration);
    display: flex;
    background-color: #333;
    color: white;
  /*  background-color: #0e387a; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    /*proba da bude math font*/
    font-family: sans-serif;

}

nav{
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
/*    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

nav a {
    text-decoration: none;
    color: #a0a0a7;
    border-style: 1px solid black;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

h1 {
    font-size: 30px;
    /* height: 50%; */
    align-self: center;
}

@media (max-width: 900px) {
    h1 {
        margin-left: auto;
        margin-right: auto;
      }
    .menu-icon {
        display: flex;
    }
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 50px;
        left: 0;
        z-index: 1;
    }
    nav.active {
        display: flex;
    }
    label{
        display:flex;
         flex-direction:column;
         width:40px;
         cursor:pointer;
         margin-top: 14px;
         height: 60%;
         margin-left: 2rem;
       }
       
       label span{
         background: #fff;
         border-radius:10px;
         height:4px;
         margin: 4px 0;
         transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
       }
       
       span:nth-of-type(1){
         width:50%;
       }
       
       span:nth-of-type(2){
         width:100%;
       }
          
       span:nth-of-type(3){
         width:75%;
       }
       
       input[type="checkbox"]{
         display:none;
       }
       
       input[type="checkbox"]:checked ~ span:nth-of-type(1){
         transform-origin:bottom;
         transform:rotatez(45deg) translate(6px,-1px)
       }
       
       input[type="checkbox"]:checked ~ span:nth-of-type(2){  
         transform-origin:top;
         transform:rotatez(-45deg)
       }
       
       input[type="checkbox"]:checked ~ span:nth-of-type(3){  
         transform-origin:bottom;
         width:50%;
         transform: translate(17px,-8px) rotatez(45deg);
       }
}

@media (min-width: 900px) {
  label {
    display: none;
  }
  h1 {
    margin-left: 2rem;
  }

}

.menu {
    z-index: 999;
    position: fixed;  
    top: 55px;
    left: -300px; /* Skriva meni po defaultu */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    overflow-y: auto; /* Omogućava skrolanje ako je meni duži od ekrana */
    color: white;
}

.menu.open {
    left: 0; /* Prikazuje meni kada je otvoren */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna crna pozadina */
    z-index: 1;
    display: none; /* Po defaultu je sakriven */
}

.menu.open + .overlay {
    display: block; /* Prikazuje se kada je meni otvoren */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
 
}
/*
li:hover {
    text-decoration: underline;
    transition: left 0.5s;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    background-color: #333; 
    color: white;
}
*/


nav ul:hover {
    color: white;
}

.navigation {
    position: relative;
}

.navigation:hover,
.navigation:focus,
.active {
    color:#ffffff
}

.navigation:after,
.active:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    border-radius: 20%;
}


.navigation:hover:after,
.active:after {
    width: 100%;
}

/*
.active {
    color: aqua;
    background-color: bisque;
}
*/



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    font-size: 24px;
    color: black; /* Boja ikone X */
}

.menuButton{
    background-color: #333;
    border: none;
    cursor: pointer;
}

:host ::ng-deep  .p-button {
border: none;
border-radius: 100px;
}

:host ::ng-deep  .p-button :hover {
    background-color: black;
    border: none;
    }

    :host ::ng-deep .pButtonMain :hover {
        background-color: black;
border: none;
    }
