<p-card header="Projects">
    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>XML</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    Application in spring boot that calls earlier made API, with
                    response as a xml string and instruction which file to
                    make(name).When app get the response, must to create xml
                    file somewhere on disc with xml content from response body.
                    <li><a class="underline" target="_blank"
                            href="https://github.com/mmujkanovi1/xml">Github
                            link</a> - more about app and source code can be
                        found here</li>
                </p>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Backend
                    development</div>
            </div>
            <div class="tasks">
                <div class="text-gray-800 font-bold text-md">Client requers:</div>
                <li> To be able to install the app</li>
                <li>that he have config file in which he can specify:
                </li>
                <li> API url who was called and at what time(as cron expression)</li>
                <li>path on the disc where he want create xml file,</li>
            </div>

            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical Skills
                    and
                    Tools:</div>
                <li>Java</li>
                <li>Spring boot</li>
                <li>Maven</li>
            </div>
        </div>
    </div>

</p-card>
