<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>Scandinavian airline system</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    The Scandinavian airline system allows users to search for
                    flights, find a suitable flight,
                    choose a specific flight and ancillaries (seat, bag, fares),
                    pay using cards and IFG cash,
                    make a booking with delayed payment, cancel the flight, etc
                </p>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Backend
                    development
                </div>
            </div>
            <div class="tasks">
                <div class="text-gray-800 font-bold text-md">Tasks:</div>
                <li>Updating configuration based on user requirements</li>
                <li>Checking the oracle databases</li>
                <li>Investigating the bugs and find the solution for their fix</li>
                <li>Fixing postman collections and scripts</li>
            </div>
            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical Skills
                    and
                    Tools:</div>
                <li>Java</li>
                <li>SOAP</li>
                <li>REST</li>
                <li>Postman</li>
                <li>DCP</li>
                <li>Oracle DB</li>
            </div>
        </div>
    </div>

</p-card>
