
<p-card header="Projects">
    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>BankApp</h1>
            <div class="text-gray-800 font-bold text-md">October, 2023 - November, 2023</div>
            <div class="summary">
                <h3>Summary</h3>
                <div class="tasks">
                    <div class="text-gray-800 font-bold text-md">Spring Boot
                        sample app for banking with three entities that are
                        located in postgreSQL database. This app contains the
                        following routes:</div>
                    <li>Create a new bank account for a customer, with an
                        initial deposit amount. A single customer may have
                        multiple bank accounts.
                    </li>
                    <li>Transfer amounts between any two accounts, including
                        those
                        owned by different customers.
                    </li>
                    <li> Retrieve balances for a given account.</li>
                    <li> Retrieve transfer history for a given account</li>
                    <li> And additionaly, create customer route, for testing
                        purposes!</li>
                    <li><a class="underline" target="_blank"
                            href="https://github.com/mmujkanovi1/bankApp">Github
                            link</a> - more about app and source code can be
                        found here</li>
                </div>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Backend
                    development</div>
            </div>
            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical Skills
                    and
                    Tools:</div>
                <li>Java</li>
                <li>Spring boot</li>
                <li>REST</li>
            </div>
        </div>
    </div>

</p-card>
