
<p-card header="Projects" class="panelClass">
    <div class="grid skill-container">
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Sokop</h1>
                </div>
                <h3 class="project-decription">
                    full-stack</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faAngular"></fa-icon>
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/sokop']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Factoring</h1>
                </div>
                <h3 class="project-decription">
                    full-stack</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faAngular"></fa-icon>
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/factoring']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">SAS</h1>
                </div>
                <h3 class="project-decription">
                    backend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/sas']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Infobiro</h1>
                </div>
                <h3 class="project-decription">
                    full-stack</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faHtml5"></fa-icon>
                    <fa-icon [icon]="faCss3"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/infobiro']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Market</h1>
                </div>
                <h3 class="project-decription">
                    backend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/market']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Portfolio</h1>
                </div>
                <h3 class="project-decription">
                    frontend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faAngular"></fa-icon>
                    <fa-icon [icon]="faHtml5"></fa-icon>
                    <fa-icon [icon]="faCss3"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/portfolio']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">XML</h1>
                </div>
                <h3 class="project-decription">
                    backend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/xml']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Generic</h1>
                </div>
                <h3 class="project-decription">
                    backend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/generic']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Synonym</h1>
                </div>
                <h3 class="project-decription">
                    full-stack</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                    <fa-icon [icon]="faAngular"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/synonym']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4" data-aos="fade-down">
            <div class="project">
                <div class="project-title-icon">
                    <h1 class="project-title">Bank app</h1>
                </div>
                <h3 class="project-decription">
                    backend</h3>
                <div class="project-technologies">
                    <fa-icon [icon]="faJava"></fa-icon>
                </div>
                <p class="project-duration"></p>
                <div class="box-1" [routerLink]="['/projects/bankapp']">
                    <div class="btn btn-one">
                        <span>SEE MORE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
</p-card>
