<div class="panel">

    <p-card header="Projects">
        <div class="grid skill-container">
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Sokop</h1>
                    </div>
                    <h3 class="project-decription">
                        full-stack</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faAngular"></fa-icon>
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Factoring</h1>
                    </div>
                    <h3 class="project-decription">
                        full-stack</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faAngular"></fa-icon>
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">SAS</h1>
                    </div>
                    <h3 class="project-decription">
                        backend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Infobiro</h1>
                    </div>
                    <h3 class="project-decription">
                        full-stack</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faHtml5"></fa-icon>
                        <fa-icon [icon]="faCss3"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Market</h1>
                    </div>
                    <h3 class="project-decription">
                        backend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Portfolio</h1>
                    </div>
                    <h3 class="project-decription">
                        frontend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faAngular"></fa-icon>
                        <fa-icon [icon]="faHtml5"></fa-icon>
                        <fa-icon [icon]="faCss3"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">XML</h1>
                    </div>
                    <h3 class="project-decription">
                        backend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Generic</h1>
                    </div>
                    <h3 class="project-decription">
                        backend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Synonym</h1>
                    </div>
                    <h3 class="project-decription">
                        full-stack</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <fa-icon [icon]="faAngular"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <h1 class="project-title">Bank app</h1>
                    </div>
                    <h3 class="project-decription">
                        backend</h3>
                    <div class="project-technologies">
                        <fa-icon [icon]="faJava"></fa-icon>
                    </div>
                    <p class="project-duration"></p>
                    <div class="box-1">
                        <div class="btn btn-one">
                            <span>SEE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <!--
                    <img style="color: black;"
                        src="assets/icons/faktoring_logo_svg.svg" alt>
                        -->
                        <h1 class="project-title">Factoring system</h1>
                    </div>
                    <h3 class="project-decription">
                        Summary: Court case management system
                        Position: full-stack</h3>
                    <p class="project-technologies"></p>
                    <p class="project-duration"></p>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <!--
                    <img src="assets/images/SAS.png" alt>
                    -->
                        <h1 class="project-title">Scandinavian airline system</h1>
                    </div>
                    <h3 class="project-decription">Position: backend</h3>
                    <p class="project-technologies"></p>
                    <p class="project-duration"></p>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
                <div class="project">
                    <div class="project-title-icon">
                        <!--
                    <img style="width: 70px;" src="assets/images/infobiro.png"
                        alt>
                        -->
                        <h1 class="project-title">Infobiro</h1>
                    </div>
                    <h3 class="project-decription">Position: frontend</h3>
                    <p class="project-technologies"></p>
                    <p class="project-duration"></p>

                </div>

            </div>
        </div>
        <p-divider></p-divider>

        <div class="categoryWrapper">
            <h1>Bathrooms</h1>
            <button>
                <span>
                    <span>
                        <span data-attr-span="See the Range">
                            See the Range
                        </span>
                    </span>
                </span>
            </button>
        </div>
    </p-card>
</div>
