<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>Infobiro</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <div class="text-gray-800 font-bold text-md"> BarbersShop app
                    without real implementation, just with:</div>
                <li>entities,</li>
                <li>Relations between them</li>
                <li>JWT token authentication,</li>
                <li>JWT token authentication,</li>
                <li>CRUD for every entity,</li>
                The main purpose of this application is that you can easily
                integrate it and use it for
                your application because everything in this application has been
                done in a generic way
                without repetitive boilerplate code for each controller and
                service:
                <li> GenericController, which has an instance of the
                    GenericService interface.
                    GenericServiceImpl is the class that contains the CRUD
                    implementation.</li>
                <li> Other controllers extend ControllerGeneric, and with that,
                    we can send our call to them
                    and execute CRUD operations for each entity.</li>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Backend
                    development
                </div>
            </div>
            <div class="tasks">
                The main purpose of this application is that you can easily
                integrate it and use it for
                your application because everything in this application has been
                done in a generic way
                without repetitive boilerplate code for each controller and
                service:
                <li> GenericController, which has an instance of the
                    GenericService interface.
                    GenericServiceImpl is the class that contains the CRUD
                    implementation.</li>
                <li> Other controllers extend ControllerGeneric, and with that,
                    we can send our call to them
                    and execute CRUD operations for each entity.</li>
            </div>
            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical
                    Skills
                    and
                    Tools:</div>
                <li>Java</li>
                <li>Spreing boot</li>
                <li>Gradle</li>
                <li>Postgres</li>
            </div>
        </div>
    </div>

</p-card>
