<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>SOKOP</h1>
            <div class="text-gray-800 font-bold text-md">November, 2021 - April, 2022</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    SOKOP Mal Information system provides the employees of the
                    court
                    to enter, view, search
                    and generate various court case documents. Users have role
                    based
                    and court level access
                    to information and based on roles certain information and
                    screens are dynamically rendered.
                    Information system is designed to allow approval of many
                    litigations in a single request
                    based on user level authorization.
                </p>
            </div>
            <div class="role">
                <div class="text-gray-800 font-bold text-md">Role: Full stack
                    development</div>
            </div>
            <div class="tasks">
                <div class="text-gray-800 font-bold text-md">Tasks:</div>
                <li> Implementing data entry screens for managing court case
                    information</li>
                <li>Implementing REST services to support lookup value reference
                    data.</li>
                <li>Implementing administration screens for various types of
                    reference data</li>
            </div>

            <div class="technicalSkills">
                <div class="text-gray-800 font-bold text-md">Technical Skills
                    and
                    Tools:</div>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Java</li>
                    <li>Spring Boot</li>
                    <li>REST</li>
                    <li>Oracle 11g</li>
                    Oracle 11g
                Angular, HTML, CSS, Java, Spring Boot,
                REST, Oracle 11g
            </div>
        </div>
    </div>

</p-card>
