<div class="panel">

    <p-card header="Education">

        <div class="card">

            <p-timeline [value]="eventsHorizontal" layout="horizontal" align="top">
                <ng-template pTemplate="content" let-event>
                    {{ event }}
                </ng-template>
            </p-timeline>

            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        </div>

    </p-card>
</div>


