<p-card header="Projects">

    <div class="grid" class="projectsMainDiv">
        <div class="col-12 sm:col-10 md:col-8 lg:col-7 xl:col-6">
            <h1>Infobiro</h1>
            <div class="text-gray-800 font-bold text-md">April, 2020 - May, 2020</div>
            <div class="summary">
                <h3>Summary</h3>
                <p>
                    <a class="underline" target="_blank"
                        href="http://www.infobiro.ba">INFOBIRO</a>
                    archive was launched in 2004. Its
                    primary activity
                    and mission involve preserving articles from printed media
                    in electronic form
                    with the permission and cooperation of publishers from
                    Bosnia and the region.
                    The archive consists of both contemporary and historical
                    content. Access to the
                    archive is online, and searches can be conducted using
                    keywords. Every
                    unregistered user has unlimited access to the texts up to
                    the abstract level. A
                    subscribed user enjoys unrestricted access to the entire
                    archive. The
                    contemporary archive comprises newspaper publications from
                    1945 to the present.
                    The historical archive includes historical publications
                    that, through the
                    process of digitization, have become accessible and
                    searchable again. The
                    historical archive spans the period from 1850 to 1944.
                </div>
                <div class="role">
                    <div class="text-gray-800 font-bold text-md">Role: Frontend
                        development
                    </div>
                </div>
                <div class="tasks">
                    <div class="text-gray-800 font-bold text-md">Tasks:</div>
                    <li>Creating responsive screens according to the given
                        design</li>
                    <li>Connecting forms with backend written in scala</li>
                    <li><a class="underline" target="_blank"
                            href="http://www.infobiro.ba/publikacije">Publikacije
                            page</a> - this page was
                        totaly new in the design, and I needed to make both
                        backend + frontend for this page in the app</li>
                </div>
                <div class="technicalSkills">
                    <div class="text-gray-800 font-bold text-md">Technical
                        Skills
                        and
                        Tools:</div>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SCALA</li>
                    <li>Postgres</li>
                </div>
            </div>
        </div>

    </p-card>
