<div class="panel">

    <p-card header="Skills">
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Programming
                languages &
                technologies:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li class="circle-checkmark">JavaScript, Java, Spring Boot, SQL</li>
                    <li class="circle-checkmark">Web Services: REST</li>
                    <li class="circle-checkmark">Web development (front-end): Angular, React, HTML, CSS</li>
                    <li class="circle-checkmark">Aware of: AWS</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Testing:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Jenkins, Postman</li>
                    <li>Integration tests</li>
                    <li>JUnit</li>
                    <li>Jmeter</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Software platform:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Docker</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Databases:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Relational DBs: Oracle, MySQL, PostgreSQL</li>
                    <li>NoSQL: MongoDB</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Versioning systems:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>GIT</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Versioning systems:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Visual Studio Code</li>
                    <li>IntelliJ</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Web servers:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Tomcat</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Continuous integration:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Jenkins</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Defects tracking tools:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Jira</li>
                </ul>
            </div>
        </div>
        <p-divider></p-divider>
        <div data-aos="fade-up" class="grid">
            <div class="col-12 sm:col-6 md:col-5 lg:col-4"
                style="align-self: center;">
                Techniques & Methods:
            </div>
            <div class="col-12 sm:col-6 md:col-7 lg:col-8"
                style="align-self: center;">
                <ul class="skillsList">
                    <li>Software Development Methodologies: Agile (Scrum)</li>
                </ul>
            </div>
        </div>
    </p-card>

</div>
