/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(271.4deg, #d8e0ea 0.53%, #f5f7fb 94.33%);
   /* background-color: #333; */
}

a {
    text-decoration: none;
    /* Boja linkova */
    font-size: 17px;
    color: #fff;
}

.component {
    padding: 20px;
    background-color: #f5f5f5;
    margin: 10px;
}
@media (min-width: 400px) {
.panel {
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
   /* padding-bottom: 4rem; */
   /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
*/
}
}

@media (max-width: 400px) {
    .panel {
        margin-top: 6rem;
        margin-bottom: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
       /* padding-bottom: 4rem; */
       /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    */
    }
     .p-card {
        box-shadow : none !important; 
    }
    }

 .p-card .p-card-title {
        display: none;
    }

.panel-header {
    border: 1px solid #e0e0e0;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem;
}

.panel-body {
    padding: 0.75rem;
    font-size: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

/* Stilovi za kolone na manjim ekranima */
.col-12 {
    width: 100%;
}

/* Stilovi za kolone na srednje velikim ekranima (koristeći 'md' breakpoint) */
@media (min-width: 768px) {
    .md\:col-6 {
        width: 50%;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

:host ::ng-deep .panelClass .p-card {
    margin-top: 50px!important;
  } 

  .underline{
    font-size: 100%;
    text-decoration: none;
    color: #0074D9;
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

