<div class="panel">

    <p-card header="Experience">

        <div class="grid skill-container">
            <div class="skill col-12 sm:col-6 md:col-3" data-aos="fade-right">
                <img src="assets/images/angular.png" alt>
                <p class="skill-title">Vanilla JavaScript</p>
                <p class="skill-decription">List skill/technologies here. You
                    can change the icon above to any of the 1500+ FontAwesome 5
                    free icons available. Aenean commodo ligula eget dolor.</p>
            </div>
            <div class="skill  col-12 sm:col-6 md:col-3" data-aos="fade-left">
                <img src="assets/images/java.png" alt>
                <p class="skill-title">React</p>
                <p class="skill-decription">List skill/technologies here. You
                    can change the icon above to any of the 1500+ FontAwesome 5
                    free icons available. Aenean commodo ligula eget dolor.</p>
            </div>
            <div class="skill  col-12 sm:col-6 md:col-3" data-aos="fade-right">
                <img src="assets/images/oracle.png" alt>
                <p class="skill-title">Node.js</p>
                <p class="skill-decription">List skill/technologies here. You
                    can change the icon above to any of the 1500+ FontAwesome 5
                    free icons available. Aenean commodo ligula eget dolor.</p>
            </div>
            <div class="skill  col-12 sm:col-6 md:col-3" data-aos="fade-left">
                <img src="assets/images/postgres.png" alt>
                <p class="skill-title">MongoDB</p>
                <p class="skill-decription">List skill/technologies here. You
                    can change the icon above to any of the 1500+ FontAwesome 5
                    free icons available. Aenean commodo ligula eget dolor.</p>
            </div>
        </div>
        <p data-aos="fade-up">
            Domain experience <br>
            OliveBh (2021-present)
        </p>
        <p data-aos="fade-up">

            I was working as a full stack software developer on web-based
            projects and REST API
            architectures in domain of Court Case/Public management system with
            following
            responsibilities: coding new functionalities based upon detail
            specifications of business and
            user requirements, unit and integration testing, performing code
            review to ensure
            compliance of standards and quality, researching new technologies.
        </p>
        <p data-aos="fade-up">
            Additionally, I was working as a backend developer on a Scandinavian
            airline system. My
            responsibilities were changing configurations according to the
            client's request, adding and
            configuring agencies, points of sale, airline rules, etc. I have
            completed similar projects for
            Virgin Australia, where the team requested me personally to speed up
            the delivery.
        </p>
        <p data-aos="fade-up">
            My current job involves working as a full-stack developer on a
            factoring system for banks,
            where I started the project from the ground up. Writing docker
            configuration, jwt
            authentication, bug fixing, and implementing REST APIs, transforming
            oracle procedures in
            java code are some of the tasks I have in that project.
        </p>

    </p-card>
</div>
