<div class="panel">

    <p-card header="Experience">
        Domain experience
        OliveBh (2021-present)
        <p>
        I was working as a full stack software developer on web-based projects and REST API
        architectures in domain of Court Case/Public management system with following
        responsibilities: coding new functionalities based upon detail specifications of business and
        user requirements, unit and integration testing, performing code review to ensure
        compliance of standards and quality, researching new technologies.
    </p>
<p>
        Additionally, I was working as a backend developer on a Scandinavian airline system. My
        responsibilities were changing configurations according to the client's request, adding and
        configuring agencies, points of sale, airline rules, etc. I have completed similar projects for
        Virgin Australia, where the team requested me personally to speed up the delivery.
    </p>     
        <p>
        My current job involves working as a full-stack developer on a factoring system for banks,
        where I started the project from the ground up. Writing docker configuration, jwt
        authentication, bug fixing, and implementing REST APIs, transforming oracle procedures in
        java code are some of the tasks I have in that project.
    </p>

    </p-card>
</div>


